:root {
    --main-color: #F40F46;
    --secondary-color: #316BB7;
    --gray-color: #EBF1F5;
    --background-gray-color: #F0F0F0;
    --white-color: #FFF;
    --black-color: #000
}

* { box-sizing: border-box }

body { font-family: 'Montserrat', sans-serif; }

#loading-spinner {
    width: 300px !important;
    height: 300px !important;
    margin: 125px auto 0;
}

.alert-warning { font-size: 15px; }

.auth-background {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    --black-opacity: 0.4;
    background-image: linear-gradient(rgba(0, 0, 0, var(--black-opacity)), rgba(0, 0, 0, var(--black-opacity))), url("../assets/recipe-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.auth-content {
    width: 400px;
    min-height: 500px;
    background-color: #FFF;
    border-radius: 20px;
}

.auth-content form {
    padding: 50px 0;
}

.auth-content h1 { font-weight: 700; }

.auth-content form .errors-list {
    list-style: none;
    font-weight: 600;
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.auth-content .input-content {
    position: relative;
}

.auth-content .input-content input {
    width: 100%;
    height: 40px;
    padding: 15px;
    border: 2px solid var(--black-color);
    border-radius: 5px;
    cursor: pointer;
}

.auth-content .input-content .placeholder-label {
    position: absolute;
    top: 10px;
    left: 15px;
    background-color: transparent;
    cursor: pointer;
}

.auth-content .input-content .label-text {
    font-size: 15px;
    background-color: transparent;
    color: var(--black-color);
    transform: translate(0);
    transition: transform 0.15s ease-out, font-size 0.15s ease-out, color 0.15s ease-out;
}

.auth-content .input-content input, .placeholder-label {
    font-size: 15px;
}

.auth-content .input-content input:focus {
    outline: none;
}

.auth-content .input-content input:focus + .placeholder-label .label-text, :not(input[value=""]) + .placeholder-label .label-text {
    font-size: 14px;
    color: var(--black-color);
    background-color: #FFF;
    transform: translate(0, -100%);
}

.auth-content .input-content input:focus + .placeholder-label .label-text {
    color: var(--black-color);
}

.auth-content .register-link {
    text-align: center;
    margin-top: 30px;
}

.auth-content .register-link p {
    margin: 0;
    letter-spacing: 1px;
}

.auth-content .button-content {
    width: 100%;
}

.auth-content .button-content .btn-primary {
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--main-color);
    transition: all .3s;
}

.auth-content .form-check-label {
  font-size: 13px;
  font-weight: 600;
}

.auth-content .form-switch .form-check-input, .form-check-label {
  cursor: pointer;
  box-shadow: none;
}

#navbar-component {
    background-color: var(--main-color);
    padding: 0;
}

#navbar-component .navbar-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-component .navbar-wrapper .navbar-brand {
    display: flex;
    align-items: center;
    color: var(--white-color);
    font-weight: 400;
    letter-spacing: 1px;
}

#navbar-component .navbar-wrapper .navbar-brand img { max-width: 50%; }
#navbar-component .navbar-wrapper .navbar-brand span { display: none; margin-top: 5px; }

#navbar-component .navbar-wrapper a {
    color: var(--white-color);
    letter-spacing: 1px;
}

#navbar-component .navbar-wrapper .btn-secondary {
    font-size: 14px;
    background-color: transparent;
    border: none;
    letter-spacing: 1px;
}

#navbar-component .navbar-wrapper .dropdown-menu { padding: 0 }

#navbar-component .navbar-wrapper .dropdown-item { padding: 10px 20px; 
}
#navbar-component .navbar-wrapper .dropdown-item:hover {
    color: var(--white-color);
    background-color: var(--black-color);
}

#recipe-list-wrapper .title-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: var(--white-color);
    background-color: var(--main-color);
    padding: 8px;
    z-index: 1;
}

#recipe-list-wrapper .title-wrapper h4 { font-size: 16px; }

#recipe-list-wrapper .title-wrapper button {
    background-color: var(--white-color);
    color: var(--main-color);
    font-weight: 500;
    border: none;
}

#recipe-list-wrapper .cards-wrapper { padding: 20px 0px }

#recipe-list-wrapper .cards-wrapper .card-img-top {
    height: 225px;
    object-fit: cover;
}

#recipe-list-wrapper .cards-wrapper .card { transition: all .5s; }

#recipe-list-wrapper .cards-wrapper .card:hover { border-color: var(--main-color); }

#recipe-list-wrapper .cards-wrapper .card-body {
    height: 200px;
    max-height: 200px;
}

#recipe-list-wrapper .cards-wrapper .card-body .card-title {
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#recipe-list-wrapper .cards-wrapper .card-body .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
}

#add-modal .modal-body { padding: 0 50px 20px; }

#add-modal .modal-header { border-bottom: none; }

#add-modal .modal-title {
    color: var(--main-color);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
}

#add-modal form label {
    color: var(--main-color);
    font-weight: 600;
    text-transform: capitalize;
}

#add-modal form .form-control {
    border: 2px solid #F40F46;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
}

#add-modal form .form-control:focus {
    box-shadow: none;
}

#add-modal .ingredients-wrapper .ingredients-list { padding: 0; }

#add-modal .ingredients-wrapper .ingredients-list .ingredient-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    margin: 5px 0 0 0;
    padding: 1px 5px;
}

#add-modal .ingredients-wrapper .ingredients-list .ingredient-card span {
    color: var(--black-color);
    font-weight: 500;
    letter-spacing: 1px;
}

#add-modal .ingredients-wrapper .ingredients-list .ingredient-card .btn-danger { padding: 1px 12px; }

#add-modal .ingredients-wrapper .ingredients-list .ingredient-card .btn-danger .bi-trash { font-size: 15px; }

#recipe .buttons-wrapper {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: var(--white-color);
    background-color: var(--main-color);
    padding: 8px;
    z-index: 1;
}

#recipe .buttons-wrapper button {
    background-color: var(--white-color);
    color: var(--main-color);
    font-weight: 500;
    border: none;
}

#recipe form { padding: 20px 0; }

#recipe .recipe-wrapper {
    display: block;
    margin: 0;
    padding: 0 20px;
}

#recipe .recipe-img-wrapper img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#recipe .recipe-details { margin: 30px 0 0 0; }

#recipe .recipe-details h3 {
    font-weight: 300;
    letter-spacing: 3px;
}

#recipe .recipe-details p {
    text-align: justify;
    white-space: break-spaces;
    margin: 15px 0 0 0;
}

#recipe .ingredients-wrapper {
    margin: 30px 0 0 0;
    padding: 0 20px;
}

#recipe .ingredients-list {
    text-transform: capitalize;
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

#recipe .ingredients-list .ingredient-card {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--main-color);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    padding: 0 35px;
}

#recipe .ingredients-list .ingredient-card span {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

#recipe .ingredients-list .ingredient-card i { font-size: 14px; }

#recipe .btn-success {
    width: 40%;
    font-size: 15px;
    margin: 30px auto 0;
    padding: 18px;
}

@media (min-width: 750px) {

    #navbar-component .navbar-wrapper .navbar-brand img { max-width: 10%; }
    #navbar-component .navbar-wrapper .navbar-brand span { display: block; }
    #navbar-component .navbar-wrapper .btn-secondary { font-size: 17px; }

    #recipe-list-wrapper .title-wrapper h4 { font-size: 25px; }

    #recipe .recipe-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    #recipe .recipe-img-wrapper { width: 50%; }

    #recipe .recipe-details { 
        width: 50%; 
        margin: 0 0 0 15px; 
    }

    #recipe .ingredients-wrapper { text-align: center; }
    #recipe .ingredients-list .ingredient-card { width: 30%; }

}